table{
	width: 100%;
	margin-left: 20px;
}
td{
	border-bottom: 1px solid #D0D0D0
}
.comand{
	margin-top: 30px;
	margin-left:10px;
	margin-bottom: 30px;
	float: left;
}
.comandpic{
float: left;
}
.rob{
	float: left;
	margin-left: 40px;
}
img{
		border-radius: 100px;
}
.maintext{
	font-size: 15pt;
	color: grey;
}
.name{
	font-size: 20pt;
}
.task{
	font-size: 17pt;
	color: grey;
}
.comandtext{
	float: left;
	margin-left: 20px;
	text-align: left;
	
}
li a {
	display: block;
	text-align: center;
	font-size: 18pt;
	height: 50px;
	width:175px;
	text-decoration: none;
	list-style-type: none;
	padding-top: 15px;
	border-bottom: 1px #D0D0D0 solid;
	color: black;
}
li:hover {
	background-color: #E5E5E5;
}
ul{
	padding: 0;
	margin: 0;
}
.image a {
	height: 45px;
	text-align: center;
	width: 200px;
	border: grey 1px solid;
	display: block;
	float: left;
	margin: 15px;
	background-color: white;
}
.header {
	width: 100%;
	height: 90px;
	border-bottom: #D0D0D0 1px solid;
	border-left: #D0D0D0 1px solid;
	border-right: #D0D0D0 1px solid;
	float: top;
	background-color: #F6F6F6;
}
.files {
	height: 90px;
	width: 110px;
	border-left: 1px #D0D0D0 solid;
	float: right;
}
.files a {
	display: block;
	text-align: center;
	font-size: 18pt;
	text-decoration: none;
	color: black;
	padding-top: 13px;
}
.files:hover {
	background-color: #E5E5E5;
}
.menu{
	float: left;
	width: 175px;
	height: 600px;
}
.mainbody{
	width: 81%;
	font-size: 20pt;
	text-align: center;
	float: left;
	border-left: #D0D0D0 1px solid;
	font-family: Exo2-Medium, sans-serif;
}
@font-face{
	font-family: 'Exo2-Light';
	src: url('fonts/Exo2-Medium.ttf');
}
.footer {
	float: left;
	border-top: #D0D0D0 1px solid;
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top: 35px;
	background-color: #F6F6F6;
}
.add{
	margin-top: 15px;
}